{% include 'header.html' %}
  <main class="flex-grow-1">
    <header class="bg-primary text-white py-4 mb-3">
      <div class="container-fluid px-5">
        <h1 class="fw-bold text-start mb-2">
          Animales
        </h1>
        <p class="lead text-start mb-0 fs-6">
          Estos son mis animales favoritos
        </p>
      </div>
    </header>
    <!-- Breadcrumb -->
    <div class="container-fluid px-5 mb-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Menú 1</li>
        </ol>
      </nav>
    </div>
    <div class="container-fluid px-5 pb-5">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Título</h2>
      </div>
    </div>
      <div class="container-fluid px-5 mb-5">
          <div class=" table-responsive ">
              <table class="table table-bordered table-striped table-hover table-sm">
                  <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>color</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for animal in animals %}
                    <tr>
                        <td>{{ animal.name }}</td>
                        <td>azul</td>
                    </tr>
                  {% else %}
                  {% endfor %}
                  {% for brain in brains %}
                    <tr>
                        <td>{{ brain.name }}</td>
                        <td>azul</td>
                    </tr>
                  {% else %}
                  {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </main>
{% include 'footer.html' %}