{#{%  include 'header.html' %}#}
    <main>
    <h1>Sorteo</h1>
    {% if resultado == True %}
        <p>¡Ganaste! 🎉</p>
    {% elif resultado == False %}
        <p>No hay ganador. 😔</p>
    {% else %}
        <p>El sorteo aún no se ha realizado.</p>

        <form action="{{ url_for('.sorteo') }}" method="POST">

        <label for="nombre">Nombre Completo:</label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="email">Correo Electrónico:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="edad">Edad:</label><br>
        <input type="number" id="edad" name="edad" min="1" required><br><br>

        <input type="submit" value="Enviar Registro">
    </form>

    {% endif %}
</main>
{% include 'footer.html' %}